<div class="container mt-4">
  <div class="row">
    <div class="col-lg-10 col-md-9 col-sm-12">
      <h2 class="mb-5">投稿一覧</h2>
      <div class="row">
        <%= render 'list', posts: @posts %>
      </div>
    </div>
    <%= render 'public/genres/genre_lists' %>
  </div>
</div>
