<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <h2 class="mb-5"><%= @genre.name %> の投稿一覧</h2>
      <div class="row">
        <%= render 'public/posts/list', posts: @posts %>
      </div>
    </div>
    <%= render 'public/genres/genre_lists' %>
  </div>
</div>
